html, body
{
    background-color: black !important;
    color: green !important;
    font-family: 'Consolas', 'Courier New', Monospace !important;
}

img
{
    border: 2px solid green !important;
}

a
{
    color: #0f0 !important;
    background-color: black;
}

div
{
    background-color: black !important;
}