html, body, p, div, span, h1, h2, h3, h4, h5, h6
{
    background-color: #eee !important;   
    color: black !important;
    text-shadow: 0 0 1px black !important;
    font-family: 'Courier New', Monospace !important;
    border: none !important;
}

a
{
    color: #333 !important;
}

img
{
    -webkit-filter: grayscale(100%);
}