html, body
{
    font-family: ubuntu-condensed, Serif;
    font-weight: normal;
    background-image: url(bkg_tile.png);
}

.container
{
    width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
}

.footer
{
    font-family: ubuntu-condensed, Serif;
    font-style: italic;
    width: 700px;
    margin: auto;
    text-align: center
    margin-top: 20px;
}

.header-box
{
    width: 500px;
    margin: auto;
}

input[type="text"]
{
    font-size: 3em;
    border: none;
    border-bottom: 2px solid black;
    font-family: ubuntu-condensed, Serif;
    background: none;
    display: inline;
    width: auto;
}

label
{
    display: inline;
}

h1
{
    font-size: 5em;
    font-weight: normal;
    font-family: lobster, serif;
    margin-bottom: 0px;
}

h2
{
    margin-top: 0px;
    color: gray;
    font-family: ubuntu-condensed, Serif;
    font-weight: normal;
    margin-left: 18px;
}

p
{
    font-size: 3em;
    font-family: ubuntu-condensed, Serif;
}

a
{
    font-size: 1em;
    text-decoration: none;
}


select, option, label
{
    font-size: 3em;
    border: none;
    background: none;
    font-family: ubuntu-condensed, Serif;
    -webkit-appearance: none;
}

select
{
    border-bottom: 2px solid black;

}

button.punch
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 lobster, sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 400px;
  height: 100px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
    
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 58px; 
}
